* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #290101;
    min-height: 100vh;
}

.text {
    color: #FCA71E;
}

.text_sub {
    color: #F0BF54;
    text-shadow: 0px 0px 30px #F0BF54 ,0px 0px 10px #f3d29c;
}

.YoutubeVideo {
  width: 100%;
  height: 50vw;
}

hr {
    border-color: #FCA71E;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

header {
    background-color: black;
    width: 100%;
    height: 3vw;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 101;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .text {
        font-size: clamp(.6rem, 1.5vw, 10rem);
        text-align: center;
    }

    a {
        text-decoration: none;
        font-style: none;
        color: inherit;
        transition: 1s ease;
    }

    a:hover, :focus {
        transition: .4s ease-in-out;
        text-shadow: 0px 0px 10px #FCA71E ,0px 0px 10px #fab23d;
    }


}

.banner {
display: flex;
justify-content: center;

    .parent {
        width: 100%;
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
    }

    p {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    #top_b {
        top: 5vw;
        font-style: italic;
        font-size: clamp(.6rem, 5vw, 10rem);
        text-shadow: 0px 0px 30px #FCA71E ,0px 0px 10px #f7ce8e;
    }
    
    #bot_b {
        bottom: 5vw;
        font-size: clamp(.6rem, 2vw, 10rem);
        letter-spacing: clamp(.2rem, 2vw, .3vw);
        line-height: clamp(1rem, 3vw, 3rem);
    }
}

.about {

    display: grid;
    padding: 5%;
    
    #title {
        width: 100%;
        text-align: center;
        font-size: clamp(.6rem, 3vw, 10rem);
        margin-top: 5vw;
        font-style: italic;
        text-shadow: none;
    }


    #about_content {
        display: grid;
        grid-template-areas: 
        "box-1 box-2";
        margin-top: 5%;
    }

    img {
        border-radius: 100%;
        margin: 1%;
        width: 100%;
        height: auto;
    }

    #about_text {
        width: inherit;
        text-align: center;
        margin: 0% 10% 0% 10%;
        .text {
            margin-bottom: 2%;
        }
    }

    .text {
        font-size: clamp(.6rem, 2.5vw, 10rem);
        text-align: center;
        text-shadow: 0px 0px 30px #FCA71E ,0px 0px 10px #f7ce8e;

    }

    .text_sub {
        font-size: clamp(.4rem, 1.3vw, 10rem);
        text-align: center;
        line-height: clamp(.6rem, 3vw, 10rem);
        text-shadow: none;
        margin-bottom: 5%;
    }

    
    #text_link_rcec {
        border: none;
        font-size: inherit;
        color: white;
        text-decoration-color: #FCA71E;
        padding: 0;
        text-decoration-skip-ink: none;
        transition: 2s ease;
        span {
            color: #E2272D;
        }
    }

    a#text_link_rcec:hover, :focus {
        transition: .4s ease-in-out;
        text-shadow: 0px 0px 30px white ,0px 0px 10px rgb(180, 180, 180);
    }

    .text_link {
        border: none;
        font-size: inherit;
        color: white;
        text-decoration-color: #FCA71E;
        padding: 0;
        text-decoration-skip-ink: none;
        transition: 2s ease;
    }

    a.text_link:hover, :focus {
        transition: .4s ease-in-out;
        text-shadow: 0px 0px 30px white ,0px 0px 10px rgb(180, 180, 180);
    }

    a#about_button {
        border: #FCA71E solid;
        border-width: .2vw;
        border-radius: 5px;
        padding: 1vw 6vw;
        text-decoration: none;
        color: white;
        font-size: clamp(.6rem, 1.7vw, 10rem);
        transition: 2s ease;
    }

    a#about_button:hover, :focus {
        transition: .4s ease-in-out;
        text-shadow: 0px 0px 30px white ,0px 0px 10px rgb(180, 180, 180);
        box-shadow: 0px 0px 30px #FCA71E ,0px 0px 10px #fac97b;
    }
}

.highlight_video {
    margin: 1vw;

    .text {
        font-size: clamp(.6rem, 4vw, 10rem);
        text-align: center;
        margin-bottom: 2vw;
        margin-top: 10vw;
    }

    .text_sub {
        font-size: clamp(.4rem, 2vw, 10rem);
        text-align: center;
        line-height: clamp(.6rem, 3vw, 10rem);
        text-shadow: none;
        margin-bottom: 5%;
    }
}

.contact {
    text-align: center;
    justify-content: center;
    margin-top: 5vw;

    .contact_text {

        .text {
            font-size: clamp(.6rem, 4vw, 10rem);
        }

        .text_sub {
            font-size: clamp(.6rem, 2.5vw, 10rem);
        }

        .text, .text_sub {
            margin-bottom: 2vw;
            line-height: clamp(.6rem, 4vw, 10rem);
            text-shadow: 0px 0px 30px #FCA71E ,0px 0px 10px #f7ce8e;
            text-decoration-skip-ink: none;
        }

        .text_sub {
            text-shadow: none;
        }

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input, textarea {
        width: 50%;
        height: auto;
        margin: 1vw;
        padding: 2vw;
        border-radius: 1vw;
        background-color: #FCA71E;
        border-color: #FCA71E;
        font-size: clamp(.6rem, 1vw, 10rem);
    }

    button {
        width: 30vw;
        height: 5vw;
        border: #FCA71E solid;
        border-width: .2vw;
        border-radius: 5px;
        padding: 1vw 6vw;
        text-decoration: none;
        color: white;
        background-color: transparent;
        font-size: clamp(.6rem, 1.7vw, 10rem);
        transition: 2s ease;
        cursor: pointer;
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }

    button:hover, :focus {
        transition: .4s ease-in-out;
        text-shadow: 0px 0px 30px white ,0px 0px 10px rgb(180, 180, 180);
        box-shadow: 0px 0px 30px #FCA71E ,0px 0px 10px #fac97b;
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    margin: 1%;

    p {
        color: white;
        font-size: .6vw;
    }

    img {
        width: clamp(50%, 2.5vw, 100%);
        height: auto;
        margin: 0;
    }

    #copyright {
        justify-content: start;
    }

    #social_icons, a {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #credits {
        display: flex;
        justify-content: end;
    }
}

.thanks {
    font-size: clamp(.6rem, 2.5vw, 10rem);
    text-align: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;


    img {
        width: 50vw;
        height: auto;
    }

    p {
        transition: .4s ease-in-out;
        text-shadow: 0px 0px 10px #FCA71E ,0px 0px 10px #fab23d;
    }
}

.FAQ {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    .card {
        background-color: transparent;
    }

    summary::marker {
        color: transparent;
    }
    
    .text {
        font-size: clamp(.6rem, 2.5vw, 10rem);
        color: black;

    }

    .text_sub {
        font-size: clamp(.6rem, 1.5vw, 10rem);
    }

    p {
        background-color: #290101;
        padding: 2%;
    }

    summary {
        cursor: pointer;
        display: inline-flex;
    }

    details {
        background-color: #FCA71E;
        margin-top: .5vw;
        margin-bottom: .5vw;
        cursor: default;
        
        text-shadow: 0px 0px 10px #290101 ,0px 0px 5px #250404;
    }
}

.show_dates {
    width: 100%;
    font-size: clamp(.6rem, 3.5vw, 10rem);
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 5vw;

    .text {
       text-shadow: 0px 0px 30px #FCA71E ,0px 0px 10px #f7ce8e; 
    }
}